<div id=allDiv>
<img [src]="aboutSign" alt="Infoskylt">

<h1>Moment 3 - Angular 1</h1>

<h2>
    Arbetet
</h2>

<p>
    Det första jag gjorde var att starta ett nytt Angular projekt, i detta projekt så skapade jag componenter för de delar jag fann nödvända. 
    Jag skapade en komponenet för repsektive sida, samt en för error om man råkar skriva fel i länken. Det skapades även komponenter för header (navigering) samt footer. 
</p>

<p>
    Den första komponent jag gjorde färdig var error sidan, även om jag ändra den lite senare in i arbetet. Efter error sidan skapade jag en navigering i header komponenten och en footer i footer komponeneten. 
    Efter navigeringen/footern gjorde jag koden för att konvertera mellan olika enheter, Slutligen gjorde jag Om sidan och Startsidan. 
</p>

<h2>Slutsats</h2>

<p>
    Jag tycker att Angular är extremt bra, det underlättar många sysslor som man annars får gör göra manuellt, det styörsta fördelen för mig är hur den så enklet kan hitta information i TypeScript koden till HTML utan att behöva skriva massa extra kod.
    Emeplevis då man använde ngModel. Det tog dock en stund innan man förstod hur man kunde använda saker, jag la exempelvis in bild via vanligt img förs, sen ändrade jag till ngSrc efter jag läst på Angular hemsidan, men sen så sa vi i föreläsning att man skulle göra det via TypeScript i form (aboutSign: string = "/assets/bilder/info640x428.jpg";), detta är ifrån min about sida.
    Slutade även med att jag la in bilder både via TypeScript på det tidigarew förklarade sättet samt backgrund-image i SCSS, vet inte vilket som föredras i det läget om det finns någon födel med att lägga till det via TypeScript över i stylingen. 
</p>
</div>