
@media (min-width: 601px) {
#allDiv{
    margin: auto;
    margin-top: 5vh;
    width: 65vw;
    margin-bottom: 8vh;
    img {
        border: 1px solid black;
        border-radius: 10px;
        width: 30vw;
    }
    p{
        text-align: left;
        color: aliceblue;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    }

    h1{
        color: aliceblue;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    }

    h2{
        color: aliceblue;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    }
}}


@media (max-width: 600px) { 

    #allDiv{
        margin: auto;
        margin-top: 5vh;
        width: 75vw;
        margin-bottom: 8vh;
        
        img {
            border: 1px solid black;
            border-radius: 10px;
            width: 50vw;
        }
        p{
            text-align: left;
            color: aliceblue;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
        }
    
        h1{
            color: aliceblue;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
        }
    
        h2{
            color: aliceblue;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
        }
    }

}

