/* You can add global styles to this file, and also import other style files */

body{
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
    h1{
        text-align: center;
    }
}

#divHeader{
   text-align: center;
    ul{
        list-style: none;
        text-align: center;
    }
    li{
        display: inline-block;
        margin-right: 5vw
    }

    a{
        text-align: center;
        background-color: orange;
        border: 1px solid black;
        display: block;
        width: 100px;
        padding: 1%;
    }

    a:hover{
        background-color: black;
    }
}
