

body{
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
    background-color: aliceblue;
    h1{
        text-align: center;
        text-decoration: underline;
        font-size: 170%;
    }
}

