 /*#allHome{
    img{
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
    }
 }*/

#welcome{
    font-size: 130%;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 3vh;
}

#explainDiv{
    font-size: 120%;
    padding: 1%;
    margin: 0 auto;
    margin-top: 4vh;
    width: 90vw;
    background-image: url(/assets/bilder/startBack.jpg);
    border: 1px solid black;
    border-radius: 10px;
}

    

