 
#welcome{
    font-size: 150%;
    font-weight: 900;
    text-decoration: underline;
}

#explainDiv{
    font-size: 120%;
    background-color: lightcoral;
    padding: 1%;
    width: fit-content;
    margin:auto;
    border: 1px solid black;
}

    

